# ===================================================================
# tpRigToolkit-libs-ziva requirements file
# ===================================================================

Qt.py
tpDcc-core